<div>
  <label for="underlying">Underlying: </label>
  <input id="underlying" [(ngModel)]="underlying" placeholder="underlying" />
</div>
<div>
  <label for="farMonth">Far month: </label>
  <input id="farMonth" [(ngModel)]="farMonth" placeholder="farMonth" />
</div>
<div>
  <label for="nearMonth">Near month: </label>
  <input id="nearMonth" [(ngModel)]="nearMonth" placeholder="nearMonth" />
</div>
<div>
  <label for="valuation">Valuation: </label>
  <input id="valuation" [(ngModel)]="valuation" placeholder="valuation" />
</div>
<button type="button" (click)="refresh()" [disabled]="isRefreshing">Refresh</button>
<label>{{ isRefreshing ? "Loading" : "ready" }}</label>
<ul>
  <li *ngFor="let yield of this.yields">
    <label>{{ yield.description }}</label>
    <br />
    <label>{{ yield.minDescription }}</label>
    <br />
    <label>{{ yield.midDescription }}</label
    ><br />
    <label>{{ yield.maxDescription }}</label
    ><br />
  </li>
</ul>
